{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}

{% block title %}
Ble Lan Scanner
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-3 pb-3">DISPOSITIVOS BLE</h1>

      <p class="lead">Dipo.</p>

  
      <p class="lead alert alert-warning">Todos los dispositivos
        style in our inventory.</p>
        <table class="table">
          <tr>
            <th>Dirección</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Fecha de escaneo</th>
          </tr>
    
          <!-- here is a for-loop to give us all the socks -->
          {% for device in devices %}
          <tr>
            <td>{{ device.address }}</td>
            <td>{{ device.name }}</td>
            <td>{{ device.description }}</td>
            <td>{{ device.date_scan.strftime("%d/%m/%Y")}}</td>
          </tr>
          {% endfor %}
        </table>

      <ul>
          {% for s in styles %}
          <li><a href="{{ url_for( 'inventory', devices=d.address) }}">{{ d.address }}</a></li>
          {% endfor %}
      </ul>



    </div>
  </div>
</div>

{% endblock %}