{% extends 'bootstrap/base.html' %}
{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}
{% block title %}
Ble Lan Scanner
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto"> 
      <p class="lead alert alert-warning">Listado de dipositivos Bluetooth Low-Energy escaneados.
        <div>

          <p class="lead">Listado de dispositivos dividido en zonas:</p>

          <ul>
          {% for z in zones %}
          <li> <a href="{{ url_for( 'zona', zone=z.zone ) }}"> {{ z.zone }} </a> </li>
           {% endfor %}
          </ul>
          </div>
      </p>
      </div>
  </div>
</div>
{% endblock %}